#div1 img{
    height: 200px;
    width: 250px;
   
}
.container{
    background-size: 100% 100%;
    background-image: url("http://eskipaper.com/images/background-pictures-8.jpg"); 
    background-repeat: no-repeat;
}